<h2><%= @group.name %></h2>
<h3>Lunches today</h3>
<% @group.todays_lunches.each do |lunch| %>
  <%= link_to(lunch.name, group_lunch_path(@group, lunch)) %> (<%= lunch.registrations.count %>) <%= lunch.time_gmt %> <br/>
<% end %>

<h3>Add lunch</h3>

<%= form_for @lunch, url: group_lunches_path(@group, @lunch), :html => { :class => 'form-horizontal' } do |field| %>
  <div class="form-group">
    <%= field.label :name %>
    <%= field.text_field :name %>
  </div>
  <div class="form-group">
    <%= field.label :time %>
    <%= field.datetime_select :time, :minute_step => 5 %>
  </div>
  <div class="form-group">
    <%= field.label :info %>
    <%= field.text_field :info %>
  </div>
  <div class="form-group">
    <%= field.hidden_field :group_id, :value => @group.id %>
    <%= field.submit :class => 'btn btn-default'  %>
  </div>
<% end %>

<%= flash[:notice] %>