<h2><%= @lunch.name %></h2>

<h3>Registrations (<%= @lunch.registrations.count %>)</h3>
<% @lunch.registrations.each do |registration| %>
  <%= registration.name %><br/>
<% end %>

<h3>Sign up for lunch!</h3>
<%= form_for Registration.new, url: registrations_path(:lunch_id => @lunch.id) do |field| %>
  <%= field.label :name %>
  <%= field.text_field :name %>
<% end %>