<h2><%= @lunch.name %></h2>
<%= @lunch.time_gmt %>
<%= @lunch.info %>
<h3>Registrations (<%= @lunch.registrations.count %>)</h3>
<% @lunch.registrations.each do |registration| %>
  <%= registration.user.username %> <% if registration.user_id == current_user.id %>
    <%= link_to 'Cancel', registration_path(:registration_id => registration.id), :method => :delete %>
  <% end %><br/>
<% end %>

<h3>Sign up for lunch at "<%= @lunch.name %>"!</h3>
<%= button_to 'Sign up for lunch!', registrations_path(:lunch_id => @lunch.id), :class => 'btn btn-success' %>
